@tailwind components;


@layer components {
    .sidebarLists {
        scrollbar-gutter: stable both-edges;
        --opacity: 0;
    }
    .sidebarLists:hover {
        --opacity: 1;
    }

    .sidebarLists::-webkit-scrollbar {
        @apply w-1;
    }
    .sidebarLists::-webkit-scrollbar-thumb {
        @apply bg-zinc-800 rounded-full transition-all;
        border: 0px solid transparent;
        background-clip: content-box;
        --tw-bg-opacity: var(--opacity);
    }
    .sidebarLists::-webkit-scrollbar-thumb:hover {
        @apply bg-zinc-700;
    }
}