@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply outline-none;
    }

    body {
        @apply bg-transparent text-white/90 select-none overflow-hidden rounded-none box-border;
    }
    body:not(.maximized) {
        @apply border border-zinc-800 h-screen w-screen rounded;
    }

    html {
        @apply bg-transparent rounded overflow-hidden;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        z-index: 1;
    }

    ::-webkit-scrollbar {
        @apply w-4;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-zinc-700 rounded-full;
        border: 6px solid transparent;
        background-clip: content-box;
    }
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-zinc-600;
    }

    *, *::after, *::before {
        -webkit-user-drag: none;
        -webkit-app-region: no-drag;
    }
}